body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
}

.note {
    position: absolute;
    font-size: 24px;
    white-space: nowrap;
}

#note-parent {
    position:absolute;
}
#note-container {
    border: 1px solid;
    background-color: rgb(174, 85, 85);
    height: 500px;
    width: 900px;
    position: absolute;
}