body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
}

@keyframes slideIn {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(250px);
    }
}

@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(250px);
    }
}
.container {
    display: flex;
    width: 675px;
}

.rectangle {
    position: relative;
    flex: 1;
    height: 250px; /* Adjust the height as needed */
    /* background: linear-gradient(to bottom, #abbcc7, #ffffff); */
    border: 2px solid black;
    margin: 5px; /* Adjust the margin as needed */
}

.rectangle-inside {
    background: linear-gradient(to bottom, #abbcc7, #ffffff);
}

.rectangle-outside {
    background: linear-gradient(to bottom, #abbcc7, #ff0000);
}

.square {
    position: absolute;
    width: 100%; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #e74c3c; /* Adjust the color as needed */
    animation: slideIn 1s linear;
    -webkit-animation: slideIn 1s linear;
    /* animation-delay: 2s; */
}

