body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
}

@keyframes slideIn {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
        transform: translateY(0);
    }
    100% {
        opacity: 100%;
        transform: translateY(230px);
    }
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0%;
    }
    50% {
        opacity:100%;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity:100%;
        -webkit-transform: translateY(230px);
    }
}
.container {
    display: flex;
    width: 675px;
}

.rectangle {
    position: relative;
    flex: 1;
    height: 250px; /* Adjust the height as needed */
    /* background: linear-gradient(to bottom, #abbcc7, #ffffff); */
    border: 2px solid black;
    margin: 5px; /* Adjust the margin as needed */
    display: flex;
    text-align: center;
}

.note-name {
    /* position: relative; */
    align-self: flex-end;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

.rectangle-inside {
    position: relative;
    background: linear-gradient(to bottom, #abbcc7, #ffffff);
}

.rectangle-outside {
    position: relative;
    background: linear-gradient(to bottom, #abbcc7,#553ce7);
}

.square {
    opacity: 0;
    position: absolute;
    width: 100%; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: blue; /* Adjust the color as needed */
    animation: slideIn 5s linear;
    -webkit-animation: slideIn 5s linear;
    /* animation-delay: 2s; */
}
